In [1]:
import pandas as pd

In [ ]:
train = pd.read_parquet('data_fusion_train.parquet')
train = train[train.category_id != -1].drop_duplicates('item_name')

In [ ]:
from collections import Counter

In [ ]:
prepositions = ['в', 'шт', 'кг', 'без', 'до', 'из', 'к', 'на', 'по', 'о', 'от', 'перед', 'при', 'через', 'с', 'у', 'за', 'над', 'об', 'под', 'про', 'для', 'вблизи', 'вглубь', 'вдоль', 'возле', 'около', 'вокруг', 'впереди', 'после', 'посредством', 'путём', 'насчёт', 'поводу', 'ввиду', 'случаю', 'течение', 'благодаря', 'несмотря на', 'спустя']

In [ ]:
book = {}

for id in train['category_id'].unique():
    df = pd.DataFrame(train[train['category_id'] == id]['item_name'])
  
    count = Counter(" ".join(df["item_name"]).lower().split()).most_common(10)
  
    if not count: continue
  
    result = ""
  
    for j in count:
        n = j[0]

        if (len(n) < 3 or n in prepositions or not n.isalpha()): continue
    
        result = n
    
        break
  
    book[id] = result

frequent = pd.DataFrame.from_dict(book, orient='index')

In [ ]:
frequent

            0
78     молоко
71      салат
70       кофе
84       хлеб
69        фри
..        ...
111     сифон
58     платье
54     куртка
97      ласты
46   одеколон

[96 rows x 1 columns]

In [ ]:
import numpy as np

train['most_common'] = train['category_id'].apply(lambda x: frequent.loc[x])

In [ ]:
train

          receipt_id  receipt_dayofweek  ... brands most_common
1                 11                  6  ...   None      молоко
3                 39                  4  ...   None       салат
4                 39                  4  ...   None       салат
17                56                  5  ...   None        кофе
40               105                  3  ...   None        хлеб
...              ...                ...  ...    ...         ...
45669181     9880594                  2  ...   None     напиток
45681543     9908635                  5  ...   None        пиво
45690702     9929539                  0  ...   None        пиво
45692298     9932986                  3  ...   None         лак
45700308     9951356                  4  ...   None        хлеб

[48225 rows x 10 columns]